<% # provide(:title, "Home") %>

<div class="jumbotron">
  <h1>Welcome to the sample app</h1>

  <h2>This is the home page for the <a href="http://railstutorial.org"/>Ruby on Rails sample app tutorial</a></h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<a href="http://rubyonrails.org">
  <img src="https://websiteonlinesolution.com/images/DevelopmentService/ruby4.png"
  , alt="Ruby Logo"/>
</a>
